.wrapper {
  padding: 2rem;
  max-width: 500px;
  margin: auto;

  form {
    mat-form-field {
      width: 100%;
    }

    .consent-form-field {
      padding-top: 2rem;
      padding-bottom: 1.25rem;
    }

    .form-actions {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin-top: 3rem;

      button:not(:first-child) {
        margin-left: 10px;
      }

      .loading-spinner {
        margin: auto;
      }
    }
  }

  .success-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
  }
}
